.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-icon {
    padding: 2px;
    background-color: #007ad9;
    color: #fff;
    width: 30px;
    text-align: center;
    cursor: pointer;
    border: solid #007ad9;
}

.input-search {
    width: 90%;

}
